// color variables
$body-color: #f4f3ed !default;
$body-font-color: #000 !default;
$border-color: #dbdbdb !default;
$btn-color: #efb784 !default;

// typography
$body-font-size: 1rem !default;
$font-family-regular: 'helveticaregular' !default;
$font-family-bold: 'helveticabold' !default;

// spacing
$line-height: 1.2 !default;